{% extends 'base.html.twig' %}

{#{% for schueler in schuelers %}#}
{#    <div>{{schueler}}</div>#}
{#{% endfor %}#}


   {% block body %}
       {% for schueler in schuelers %}
{#           <div class="schueler"><h1><a href="/show/{{schueler.id}}">Schueler_ID: {{schueler.id}}</a></h1>#}
               <div class="schueler"><h1><a href="{{ path('showSchueler', {id: schueler.id}) }}"> Schueler_ID:{{ schueler.id }}</a></h1>
           <div class="schueler-attribute"><span>Name: </span>{{schueler.nachname}}</div>
           <div class="schueler-attribute"><span>Email: </span>{{schueler.email}}</div>
           <div class="schueler-attribute"><span>Telefon: </span>{{schueler.telefonnummer}}</div>
           <div class="schueler-attribute"><span>Kommentar: </span>{{schueler.kommentar}}</div>
           </div>
       {% endfor %}
   {% endblock %}
