
{% extends "base.html.twig" %}


{% block body %}
<div>{{ schueler.vorname }}</div>
<div>{{ schueler.nachname }}</div>
<div>{{ schueler.telefonNummer }}</div>
<div>{{ schueler.email }}</div>
<div>{{ schueler.kommentar }}</div>
    <input type="button" onclick="window.location.href='{{ path('schueler_delete',{id:schueler.id}) }}';" value="Löschen" />
    <input type="button" onclick="window.location.href='{{ path('schueler_update',{id:schueler.id}) }}';" value="Change" />

{#    <a href="{{ path('schueler_update',{id:schueler.id}) }}">Edit</a>#}
{% endblock %}