<style>
    .schueler {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .schueler div {
        margin-bottom: 10px;
    }
    .schueler span {
        font-weight: bold;
    }
    .show-all-button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin-top: 20px;
    }
    .show-all-button:hover {
        background-color: #0056b3;
    }
</style>

<h1>Schuler mit der ID: {{schueler.id}}</h1>
<div class="schueler">
    <div><span>Nachname: </span><span>{{ schueler.nachname}}</span> </div>
    <div><span>Email: </span> <span>{{ schueler.email}}</span> </div>
    <div><span>Telefon: </span> <span>{{ schueler.telefonnummer}}</span> </div>
    <div><span>Kommentar: </span> <span>{{ schueler.kommentar}}</span> </div>
</div>

<a href="{{ path('showAll') }}" class="show-all-button">Show All</a>
