
<h1>Schuler mit der ID: {{schueler.id}}</h1>
<div class="schueler">
    <div><span>Nachname: </span><span>{{ schueler.nachname}}</span> </div>
    <div><span>Email: </span> <span>{{ schueler.email}}</span> </div>
    <div><span>Telefon: </span> <span>{{ schueler.telefonnummer}}</span> </div>
    <div><span>Kommentar: </span> <span>{{ schueler.kommentar}}</span> </div>
</div>



