{% extends 'base.html.twig' %}
{% block title %}
  Alle Schüler
{% endblock %}
{% block body %}
<div class="container">
  {% for schueler in schuelers %}
  <ul>
    {% if schueler.vorname == 'Erik' %}
      <li class="green marge">hey {{ schueler.nachname }}, {{ schueler.vorname }}</li>
    {% else %}
      <li class="boo marge">{{ schueler.nachname }}, {{ schueler.vorname }}</li>
    {% endif %}
    <li>{{ schueler.telefonNummer }}</li>
    <li>{{ schueler.email }}</li>
    <li>{{ schueler.kommentar }}</li>
  </ul>
   <a class="btn btn-detail" href="{{ path('show', {'id': schueler.id}) }}">view details</a>
   <a class="btn btn-delete" href="{{ path('delete', {'id': schueler.id}) }}">delete</a>
  {% endfor %}
</div>
  {% endblock %}


