{% extends 'base.html.twig' %}

{% block body %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_widget(form.Vorname) }}
    <br>
    {{ form_widget(form.Nachname) }}
    {{ form_widget(form.TelefonNummer) }}
    {{ form_widget(form.email)  }}
    {{ form_widget(form.kommentar)  }}
    {{ form_widget(form.save, { 'label': 'update me' }) }}
    {{ form_end(form) }}
{#    <button type="submit">#}
{#        submit#}
{#    </button>#}


{% endblock %}